.cart {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
 .cart-item img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}
 .cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-summary {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h3 {
  margin-bottom: 15px;
} 

.wishlist-icon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #eb0629;
  transition: color 0.3s ease;
}
